/* Fundo igual ao do login */
.forgot-body {
    min-height: 100vh;
    background: linear-gradient(135deg, #faedf8, #f0f2ff, #ffeef3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ========== BOTÃO VOLTAR ========== */
.back-link {
    width: 100%;
    max-width: 900px;
    margin-top: 35px;
    margin-left: 20px;

    text-decoration: none;
    color: #222;
    font-size: 15px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 6px;
}

.arrow {
    font-size: 18px;
}

/* ========== CARD CENTRAL ========== */
.forgot-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.forgot-card {
    width: 450px;
    background: #fff;
    padding: 40px 45px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.10);
    text-align: center;
}

/* ========== ÍCONE ========== */
.forgot-icon {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ff4df9, #b75cff);

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto 15px;
}

/* ========== TITULO E SUB ========== */
.forgot-title {
    font-size: 20px;
    font-weight: 700;
}

.forgot-subtitle {
    color: #555;
    margin-top: 6px;
    font-size: 14px;
}

/* ========== ERRO ========== */
.forgot-error {
    background: #ffd6d6;
    color: #7a0000;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0 5px;
    font-size: 14px;
}

/* ========== FORM ========== */
.forgot-form {
    margin-top: 20px;
    text-align: left;
}

.forgot-form label {
    font-size: 14px;
    font-weight: 600;
}

.forgot-form input {
    margin-top: 5px;
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #f9fafb;
    font-size: 15px;
}

.forgot-form input:focus {
    border-color: #a24bff;
}

/* ========== BOTÃO ========== */
.forgot-btn {
    width: 100%;
    margin-top: 18px;
    padding: 14px;

    background: #000;
    color: white;
    border: none;
    border-radius: 12px;

    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.forgot-btn:hover {
    background: #222;
}

/* ========== LINK LOGIN ========== */
.login-text {
    margin-top: 18px;
    color: #444;
}

.login-link {
    color: #a24bff;
    text-decoration: none;
    font-weight: 600;
}
